.section-router .chiclet:nth-child(4n+4) {
    transition-delay: 0.7s
}

.four-tile-router{
	width:1000px;
	margin:0 auto;
}

.four-tile-hero{
	width:670px;
	margin:0 auto;	
}


.section-hero .cards-container .card:nth-child(3n+3) {
    margin-right: 25px;
}

.section-hero .cards-container .card:nth-last-of-type(3) {
    margin-bottom: 25px;
}

.section-hero .cards-container .card{
	min-height: 0px;
}

.section-router .chiclet{
	width: 240px;
    height: 240px;
}

.section-discover .icloud{
    left:-118px;
}

 

.section-discover .flex-container .figure-discover.ipad-sharing{
	z-index:-99999;
}


.section-discover .flex-container .figure-discover.music{
	z-index:-99999;	
}


.section-discover .flex-container .figure-discover.news {
    margin-top: -1300px;
    left: 35px;
}


.section-discover .flex-container .feature-3-copy {
    margin-top: -100px;
    padding-left: 6px;
}

.section-discover .flex-container .figure-discover.ipad-music {
    margin-top: -700px;
    /*padding-bottom: 0px;*/
}

.section-discover .flex-container .figure-discover.mac-tv {
    margin-top: 100px;
}

.section-discover .subscribe-row{
    /*padding-top: 143px;*/
}


@media only screen and (max-width: 1068px){
   
	.four-tile-router{
		width:660px;
		margin:0 auto;
	}	

	.four-tile-hero{
		width:700px;
		margin:0 auto;	
	}

	.section-hero .cards-container .card:nth-last-of-type(3) {
	    margin-bottom: 20px;
	}

	.section-hero .cards-container .card:nth-child(3n+3) {
	    margin-right: 20px;
	}

	.section-router .chiclet{
		width: 160px;
    	height: 160px;
	}

	.section-discover .flex-container .figure-discover.news {
	    margin-top: -700px;
	    left: 35px;
	}

	.section-discover .flex-container .figure-discover.ipad-music {
	    margin-top: -450px;
    	padding-bottom: 60px;
	}

	.section-discover .flex-container .figure-discover.mac-tv {
	    margin-top: 70px;
	}
}

@media only screen and (max-width: 734px){
	.four-tile-router{
		width:310px;
		margin:0 auto;
	}	

	.four-tile-hero{
		width:auto;
		margin:0 auto;	
	}	

	.section-hero .cards-container .card:nth-child(3n+3) {
	    margin-right: auto;
	}

	.section-router .chiclet{
		width: 160px;
    	height: 160px;
	}

	.section-discover .flex-container .feature-3-copy {
        margin-top: 0px;
        padding-left: 0;
	}

	.section-discover .flex-container .figure-discover.news {
	    margin-top: 0px;
	    left: 0px;
	}

	.section-discover .flex-container .figure-discover.icloud {
	    margin-top: 105px;
        padding-top: 0px;
        
	}

	.section-discover .flex-container .figure-discover.news {
	    margin-top: 65px;
        left: 0px;
        margin-bottom: 15px;
	}

	.section-discover .flex-container .figure-discover.music{
		padding-top: 0;
		height:1px;
	}

	.section-discover .flex-container {
	    padding-bottom: 40px;
	}

}@media only screen and (max-width: 734px){

.section-discover .icloud{
    left:auto;
}
}

@media only screen and (max-width: 320px){
	.section-router .chiclet {
	    width: 135px;
	    height: 135px;
    }
    
}

@media only screen and (min-width: 735px) {
    .section-hero .hero-video-container .image-hero-startframe {
        background-image: url("/in/apple-one/images/hero_startframe_large.jpg")
    }
}
@media only screen and (min-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-width: 735px) and (min-resolution: 1.5dppx),
only screen and (min-width: 735px) and (min-resolution: 144dpi) {
    .section-hero .hero-video-container .image-hero-startframe {
        background-image: url("/in/apple-one/images/hero_startframe_large_2x.jpg")
    }
}
@media only screen and (min-width: 735px) and (max-width: 1068px) {
    .section-hero .hero-video-container .image-hero-startframe {
        background-image: url("/in/apple-one/images/hero_startframe_medium.jpg")
    }
}
@media only screen and (min-width: 735px) and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-width: 735px) and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (min-width: 735px) and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-hero .hero-video-container .image-hero-startframe {
        background-image: url("/in/apple-one/images/hero_startframe_medium_2x.jpg")
    }
}
@media only screen and (min-width: 735px) and (max-width: 734px) {
    .section-hero .hero-video-container .image-hero-startframe {
        background-image: url("/in/apple-one/images/hero_startframe_small.jpg")
    }
}
@media only screen and (min-width: 735px) and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-width: 735px) and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (min-width: 735px) and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-hero .hero-video-container .image-hero-startframe {
        background-image: url("/in/apple-one/images/hero_startframe_small_2x.jpg")
    }
}
@media only screen and (max-width: 734px) {
    .section-hero .hero-video-container .image-hero-startframe {
        background-image: url("/in/apple-one/images/hero_startframe_small.jpg");
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-hero .hero-video-container .image-hero-startframe {
        background-image: url("/in/apple-one/images/hero_startframe_small_2x.jpg")
    }
}
 
  
.section-discover .flex-container .figure-discover.icloud .screen {
    background-image: url("/in/apple-one/images/overview/discover_iphone_music__fn9wcil3lze6_large.jpg")
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .section-discover .flex-container .figure-discover.icloud .screen {
        background-image: url("/in/apple-one/images/overview/discover_iphone_music__fn9wcil3lze6_large_2x.jpg")
    }
}
@media only screen and (max-width: 1068px) {
    .section-discover .flex-container .figure-discover.icloud .screen {
        background-image: url("/in/apple-one/images/overview/discover_iphone_music__fn9wcil3lze6_medium.jpg")
    }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-discover .flex-container .figure-discover.icloud .screen {
        background-image: url("/in/apple-one/images/overview/discover_iphone_music__fn9wcil3lze6_medium_2x.jpg")
    }
}
@media only screen and (max-width: 734px) {
    .section-discover .flex-container .figure-discover.icloud .screen {
       
        background-image: url("/in/apple-one/images/overview/discover_iphone_music__fn9wcil3lze6_small.jpg")
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-discover .flex-container .figure-discover.icloud .screen {
        background-image: url("/in/apple-one/images/overview/discover_iphone_music__fn9wcil3lze6_small_2x.jpg")
    }
}
@media only screen and (max-width: 734px) {
    .section-discover .flex-container .figure-discover.icloud .screen {
        background-repeat: no-repeat;
        background-image: url("/in/apple-one/images/overview/discover_iphone_music__fn9wcil3lze6_small.jpg");
        background-size: cover;
        width: 53.5%;
        height: auto
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-discover .flex-container .figure-discover.icloud .screen {
        background-image: url("/in/apple-one/images/overview/discover_iphone_music__fn9wcil3lze6_small_2x.jpg")
    }
}
.section-discover .flex-container .figure-discover.icloud .image-chiclet-icloud {
    width: 48px;
    height: 48px;
    background-size: 48px 48px;
    background-repeat: no-repeat;
    background-image: url("/v/apple-one/a/images/overview/discover_icon_music__kq072r31akq6_large.png")
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .section-discover .flex-container .figure-discover.icloud .image-chiclet-icloud {
        background-image: url("/v/apple-one/a/images/overview/discover_icon_music__kq072r31akq6_large_2x.png")
    }
}
.section-discover .flex-container .figure-discover.news .image-chiclet-news {
    width: 48px;
    height: 48px;
    background-size: 48px 48px;
    background-repeat: no-repeat;
    background-image: url("/v/apple-one/a/images/overview/discover_icon_icloud__f89g00kqfviy_large.png")
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .section-discover .flex-container .figure-discover.news .image-chiclet-news {
        background-image: url("/v/apple-one/a/images/overview/discover_icon_icloud__f89g00kqfviy_large_2x.png")
    }
}
.section-router .chiclet:nth-child(4n + 4) {
    transition-delay: 0.7s
}
 


.section-discover .flex-container .figure-discover.news .screen {
   
    background-image: url("/in/apple-one/images/overview/discover_mac_news__fuyzupsth52e_large.jpg")
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .section-discover .flex-container .figure-discover.news .screen {
        background-image: url("/in/apple-one/images/overview/discover_mac_news__fuyzupsth52e_large_2x.jpg")
    }
}
@media only screen and (max-width: 1068px) {
    .section-discover .flex-container .figure-discover.news .screen {
      
        background-image: url("/in/apple-one/images/overview/discover_mac_news__fuyzupsth52e_medium.jpg")
    }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-discover .flex-container .figure-discover.news .screen {
        background-image: url("/in/apple-one/images/overview/discover_mac_news__fuyzupsth52e_medium_2x.jpg")
    }
}
@media only screen and (max-width: 734px) {
    .section-discover .flex-container .figure-discover.news .screen {
      
        background-image: url("/in/apple-one/images/overview/discover_mac_news__fuyzupsth52e_small.jpg")
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-discover .flex-container .figure-discover.news .screen {
        background-image: url("/in/apple-one/images/overview/discover_mac_news__fuyzupsth52e_small_2x.jpg")
    }
}
@media only screen and (max-width: 734px) {
    .section-discover .flex-container .figure-discover.news .screen {
       
        background-image: url("/in/apple-one/images/overview/discover_mac_news__fuyzupsth52e_small.jpg");
     
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-discover .flex-container .figure-discover.news .screen {
        background-image: url("/in/apple-one/images/overview/discover_mac_news__fuyzupsth52e_small_2x.jpg")
    }
}




.section-hero .cards-container .card-arcade .card-screen {
  
    background-image: url("/in/apple-one/images/overview/hero_screen_arcade__eeakevx4izgy_large.jpg")
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .section-hero .cards-container .card-arcade .card-screen {
        background-image: url("/in/apple-one/images/overview/hero_screen_arcade__eeakevx4izgy_large_2x.jpg")
    }
}
 
.section-discover .flex-container .figure-discover.ipad-music .screen {
   
    background-image: url("/in/apple-one/images/overview/discover_ipad_music__f3uo7g9oxy2y_large.jpg")
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .section-discover .flex-container .figure-discover.ipad-music .screen {
        background-image: url("/in/apple-one/images/overview/discover_ipad_music__f3uo7g9oxy2y_large_2x.jpg")
    }
}
@media only screen and (max-width: 1068px) {
    .section-discover .flex-container .figure-discover.ipad-music .screen {
        
        background-image: url("/in/apple-one/images/overview/discover_ipad_music__f3uo7g9oxy2y_medium.jpg")
    }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-discover .flex-container .figure-discover.ipad-music .screen {
        background-image: url("/in/apple-one/images/overview/discover_ipad_music__f3uo7g9oxy2y_medium_2x.jpg")
    }
}
@media only screen and (max-width: 734px) {
    .section-discover .flex-container .figure-discover.ipad-music .screen {
        
        background-image: url("/in/apple-one/images/overview/discover_ipad_music__f3uo7g9oxy2y_small.jpg")
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-discover .flex-container .figure-discover.ipad-music .screen {
        background-image: url("/in/apple-one/images/overview/discover_ipad_music__f3uo7g9oxy2y_small_2x.jpg")
    }
}
@media only screen and (max-width: 734px) {
    .section-discover .flex-container .figure-discover.ipad-music .screen {
         
        background-image: url("/in/apple-one/images/overview/discover_ipad_music__f3uo7g9oxy2y_small.jpg");
        
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-discover .flex-container .figure-discover.ipad-music .screen {
        background-image: url("/in/apple-one/images/overview/discover_ipad_music__f3uo7g9oxy2y_small_2x.jpg")
    }
}



.section-discover .subscribe-row .figure-subscribe.airpods-watch .image-watch-music {
   
    background-image: url("/in/apple-one/images/overview/discover_watch_music__c0nac3e1p86e_large.png")
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .section-discover .subscribe-row .figure-subscribe.airpods-watch .image-watch-music {
        background-image: url("/in/apple-one/images/overview/discover_watch_music__c0nac3e1p86e_large_2x.png")
    }
}
@media only screen and (max-width: 1068px) {
    .section-discover .subscribe-row .figure-subscribe.airpods-watch .image-watch-music {
      
        background-image: url("/in/apple-one/images/overview/discover_watch_music__c0nac3e1p86e_medium.png")
    }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-discover .subscribe-row .figure-subscribe.airpods-watch .image-watch-music {
        background-image: url("/in/apple-one/images/overview/discover_watch_music__c0nac3e1p86e_medium_2x.png")
    }
}
@media only screen and (max-width: 734px) {
    .section-discover .subscribe-row .figure-subscribe.airpods-watch .image-watch-music {
        
        background-image: url("/in/apple-one/images/overview/discover_watch_music__c0nac3e1p86e_small.png")
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-discover .subscribe-row .figure-subscribe.airpods-watch .image-watch-music {
        background-image: url("/in/apple-one/images/overview/discover_watch_music__c0nac3e1p86e_small_2x.png")
    }
}


.section-discover .flex-container .figure-discover.icloud .screen {
    
    background-image: url("/in/apple-one/images/overview/discover_iphone_music__fn9wcil3lze6_large.jpg")
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
    .section-discover .flex-container .figure-discover.icloud .screen {
        background-image: url("/in/apple-one/images/overview/discover_iphone_music__fn9wcil3lze6_large_2x.jpg")
    }
}
@media only screen and (max-width: 1068px) {
    .section-discover .flex-container .figure-discover.icloud .screen {
       
        background-image: url("/in/apple-one/images/overview/discover_iphone_music__fn9wcil3lze6_medium.jpg")
    }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 1068px) and (min-resolution: 1.5dppx),
only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-discover .flex-container .figure-discover.icloud .screen {
        background-image: url("/in/apple-one/images/overview/discover_iphone_music__fn9wcil3lze6_medium_2x.jpg")
    }
}
@media only screen and (max-width: 734px) {
    .section-discover .flex-container .figure-discover.icloud .screen {
        
        background-image: url("/in/apple-one/images/overview/discover_iphone_music__fn9wcil3lze6_small.jpg")
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-discover .flex-container .figure-discover.icloud .screen {
        background-image: url("/in/apple-one/images/overview/discover_iphone_music__fn9wcil3lze6_small_2x.jpg")
    }
}
@media only screen and (max-width: 734px) {
    .section-discover .flex-container .figure-discover.icloud .screen {
        
        background-image: url("/in/apple-one/images/overview/discover_iphone_music__fn9wcil3lze6_small.jpg");
       
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (max-width: 734px) and (min-resolution: 1.5dppx),
only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-discover .flex-container .figure-discover.icloud .screen {
        background-image: url("/in/apple-one/images/overview/discover_iphone_music__fn9wcil3lze6_small_2x.jpg")
    }
}



.section-discover .subscribe-row {
    /*z-index: -99999;
    padding-top: 0px;
    margin-top: -150px;*/
}
.section-discover .subscribe-row .figure-subscribe.ipad-news {
    /*margin-top: 0px;*/
}
 
@media only screen and (max-width: 1068px){
    .section-discover .icloud{
        left:-60px;

}
}
@media only screen and (max-width: 734px){ 
    .section-discover .icloud{
        left:0;
    }
}

 
@media only screen and (max-width: 734px){
    .section-discover .flex-container .figure-discover.news .chiclet-caption{  
        width: 260px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 1068px){
.section-plans .plan-tile {
    width:230px;
}
}
@media only screen and (max-width: 734px){
    .section-plans .plan-tile {
        width:329px;
    }
}

/*styles for subscribe row*/
.section-discover .subscribe-copy-container {
    margin-top: 176px;
    order: 10;
}
.section-discover .subscribe-images {
    order: 11;
    display: flex;
    padding-bottom:120px;
}
@media only screen and (min-width: 734px) and (max-width: 1068px){ 
    .section-discover .subscribe-images {
        padding-bottom:60px;
    }
}
.section-discover .subscribe-row {
    padding-top: 75px;
    justify-content: center;
    flex-wrap: nowrap;
}
.section-discover .flex-container .subscribe-row.layout-alt-1 .figure-subscribe.iphone-arcade {
    order: 2;
    margin-left: 615px;
    margin-top: -415px;
}

.section-discover .flex-container .subscribe-row.layout-alt-1 .figure-subscribe.airpods-watch {
    order: 1;
    margin-left: 235px;
    margin-top: -288px;
}
@media only screen and (max-width: 1068px) {
   .section-discover .flex-container .subscribe-row.layout-alt-1 .figure-subscribe.iphone-arcade {
        margin-top: -405px;
        margin-left: 350px;
    }

    .section-discover .flex-container .subscribe-row.layout-alt-1 .figure-subscribe.airpods-watch {
        margin-left: 135px;
        margin-top: -252px;
    } 
}
@media only screen and (max-width: 734px) {
    .section-discover {
        padding-bottom: 50px;
    }
    .section-discover .subscribe-images {
        padding-bottom: 0px;
        padding-top: 0;
    }
    .section-discover .subscribe-copy-container {
        margin-top: 40px;
    }
    .section-discover .flex-container .subscribe-row.layout-alt-1 {
        display:none;
    }
}

@media only screen and (max-width: 1068px){
.section-plans .plan-tile {
    width: 241px;
}
}